<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>list</key>
		<array>
			<string>A</string>
			<string>Aacute</string>
			<string>Abreve</string>
			<string>Abreveacute</string>
			<string>Abrevedotbelow</string>
			<string>Abrevegrave</string>
			<string>Abrevehookabove</string>
			<string>Abrevetilde</string>
			<string>Acircumflex</string>
			<string>Acircumflexacute</string>
			<string>Acircumflexdotbelow</string>
			<string>Acircumflexgrave</string>
			<string>Acircumflexhookabove</string>
			<string>Acircumflextilde</string>
			<string>Adotbelow</string>
			<string>Agrave</string>
			<string>Ahookabove</string>
			<string>Atilde</string>
			<string>B</string>
			<string>C</string>
			<string>D</string>
			<string>Dcroat</string>
			<string>E</string>
			<string>Eacute</string>
			<string>Ecircumflex</string>
			<string>Ecircumflexacute</string>
			<string>Ecircumflexdotbelow</string>
			<string>Ecircumflexgrave</string>
			<string>Ecircumflexhookabove</string>
			<string>Ecircumflextilde</string>
			<string>Edotbelow</string>
			<string>Egrave</string>
			<string>Ehookabove</string>
			<string>Etilde</string>
			<string>F</string>
			<string>G</string>
			<string>H</string>
			<string>I</string>
			<string>Iacute</string>
			<string>Idotbelow</string>
			<string>Igrave</string>
			<string>Ihookabove</string>
			<string>Itilde</string>
			<string>J</string>
			<string>K</string>
			<string>L</string>
			<string>M</string>
			<string>N</string>
			<string>O</string>
			<string>Oacute</string>
			<string>Ocircumflex</string>
			<string>Ocircumflexacute</string>
			<string>Ocircumflexdotbelow</string>
			<string>Ocircumflexgrave</string>
			<string>Ocircumflexhookabove</string>
			<string>Ocircumflextilde</string>
			<string>Odotbelow</string>
			<string>Ograve</string>
			<string>Ohookabove</string>
			<string>Ohorn</string>
			<string>Ohornacute</string>
			<string>Ohorndotbelow</string>
			<string>Ohorngrave</string>
			<string>Ohornhookabove</string>
			<string>Ohorntilde</string>
			<string>Otilde</string>
			<string>P</string>
			<string>Q</string>
			<string>R</string>
			<string>S</string>
			<string>T</string>
			<string>U</string>
			<string>Uacute</string>
			<string>Udotbelow</string>
			<string>Ugrave</string>
			<string>Uhookabove</string>
			<string>Uhorn</string>
			<string>Uhornacute</string>
			<string>Uhorndotbelow</string>
			<string>Uhorngrave</string>
			<string>Uhornhookabove</string>
			<string>Uhorntilde</string>
			<string>Utilde</string>
			<string>V</string>
			<string>W</string>
			<string>X</string>
			<string>Y</string>
			<string>Yacute</string>
			<string>Ydotbelow</string>
			<string>Ygrave</string>
			<string>Yhookabove</string>
			<string>Ytilde</string>
			<string>Z</string>
			<string>a</string>
			<string>aacute</string>
			<string>abreve</string>
			<string>abreveacute</string>
			<string>abrevedotbelow</string>
			<string>abrevegrave</string>
			<string>abrevehookabove</string>
			<string>abrevetilde</string>
			<string>acircumflex</string>
			<string>acircumflexacute</string>
			<string>acircumflexdotbelow</string>
			<string>acircumflexgrave</string>
			<string>acircumflexhookabove</string>
			<string>acircumflextilde</string>
			<string>acutecomb</string>
			<string>adotbelow</string>
			<string>agrave</string>
			<string>ahookabove</string>
			<string>ampersand</string>
			<string>asterisk</string>
			<string>at</string>
			<string>atilde</string>
			<string>b</string>
			<string>bracketleft</string>
			<string>bracketright</string>
			<string>brevecomb</string>
			<string>brevecomb_acutecomb</string>
			<string>brevecomb_gravecomb</string>
			<string>brevecomb_hookabovecomb</string>
			<string>brevecomb_tildecomb</string>
			<string>c</string>
			<string>circumflexcomb</string>
			<string>circumflexcomb_acutecomb</string>
			<string>circumflexcomb_gravecomb</string>
			<string>circumflexcomb_hookabovecomb</string>
			<string>circumflexcomb_tildecomb</string>
			<string>colon</string>
			<string>comma</string>
			<string>d</string>
			<string>dcroat</string>
			<string>dotbelowcomb</string>
			<string>e</string>
			<string>eacute</string>
			<string>ecircumflex</string>
			<string>ecircumflexacute</string>
			<string>ecircumflexdotbelow</string>
			<string>ecircumflexgrave</string>
			<string>ecircumflexhookabove</string>
			<string>ecircumflextilde</string>
			<string>edotbelow</string>
			<string>egrave</string>
			<string>ehookabove</string>
			<string>eight</string>
			<string>ellipsis</string>
			<string>emdash</string>
			<string>endash</string>
			<string>etilde</string>
			<string>exclam</string>
			<string>f</string>
			<string>five</string>
			<string>four</string>
			<string>g</string>
			<string>gravecomb</string>
			<string>h</string>
			<string>hookabovecomb</string>
			<string>horncomb</string>
			<string>hyphen</string>
			<string>i</string>
			<string>iacute</string>
			<string>idotbelow</string>
			<string>igrave</string>
			<string>ihookabove</string>
			<string>itilde</string>
			<string>j</string>
			<string>k</string>
			<string>l</string>
			<string>m</string>
			<string>n</string>
			<string>nine</string>
			<string>numbersign</string>
			<string>o</string>
			<string>oacute</string>
			<string>ocircumflex</string>
			<string>ocircumflexacute</string>
			<string>ocircumflexdotbelow</string>
			<string>ocircumflexgrave</string>
			<string>ocircumflexhookabove</string>
			<string>ocircumflextilde</string>
			<string>odotbelow</string>
			<string>ograve</string>
			<string>ohookabove</string>
			<string>ohorn</string>
			<string>ohornacute</string>
			<string>ohorndotbelow</string>
			<string>ohorngrave</string>
			<string>ohornhookabove</string>
			<string>ohorntilde</string>
			<string>one</string>
			<string>otilde</string>
			<string>p</string>
			<string>parenleft</string>
			<string>parenright</string>
			<string>percent</string>
			<string>period</string>
			<string>plus</string>
			<string>q</string>
			<string>question</string>
			<string>quotedbl</string>
			<string>quotedblleft</string>
			<string>quotedblright</string>
			<string>quoteleft</string>
			<string>quoteright</string>
			<string>quotesingle</string>
			<string>r</string>
			<string>s</string>
			<string>semicolon</string>
			<string>seven</string>
			<string>six</string>
			<string>slash</string>
			<string>t</string>
			<string>three</string>
			<string>tildecomb</string>
			<string>two</string>
			<string>u</string>
			<string>uacute</string>
			<string>udotbelow</string>
			<string>ugrave</string>
			<string>uhookabove</string>
			<string>uhorn</string>
			<string>uhornacute</string>
			<string>uhorndotbelow</string>
			<string>uhorngrave</string>
			<string>uhornhookabove</string>
			<string>uhorntilde</string>
			<string>utilde</string>
			<string>v</string>
			<string>w</string>
			<string>x</string>
			<string>y</string>
			<string>yacute</string>
			<string>ydotbelow</string>
			<string>ygrave</string>
			<string>yhookabove</string>
			<string>ytilde</string>
			<string>z</string>
			<string>zero</string>
		</array>
		<key>name</key>
		<string>GF_Latin_Vietnamese</string>
	</dict>
</array>
</plist>
